<!-- I don't know if "turtlebot_navigate" is the right name for this file -->

<launch>
<!-- Begin boilerplate code -->
<arg name="lidar_port" default="/dev/serial/by-id/usb-Silicon_Labs_CP2102_USB_to_UART_Bridge_Controller_0001-if00-port0"/>
<arg name="use_controller" default="false" />
<group>
<remap from="scan" to="raw_scan"/>
<include file="$(find novel_bringup)/launch/include/turtlebot_common.launch">


<arg name="lidar_port" default="$(arg lidar_port)"/>
<arg name="use_controller" value="$(arg use_controller)" />


</include>
</group>
<!-- End boilerplate code -->


<!--<include file="$(find turtlebot_navigation)/launch/includes/move_base.launch.xml"/>-->

<arg name="map_file" default="/home/tkeady1/catkin_ws/src/530_707_independent_project/maps/hackerman_auditorium.yaml"/>

<group>
  <!-- <include file="$(find turtlebot_gazebo)/launch/amcl_demo.launch"/>
  -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
  <include file="$(find novel_bringup)/launch/include/novel_amcl.launch">  
  </include>
</group>

<node name="rviz" pkg="rviz" type="rviz" args="-d $(find expected_scan_generator)/rviz/view_laserscans.rviz"/>
<param name="min_angle" value="-3.14159"/>
<param name="max_angle" value="3.14159"/>
<param name="range" value="10"/>
<node pkg="expected_scan_generator" type="expected_scan_generator" name="expected_scan_node">


</node>
<node pkg="novel_lidar_detection" type="novel_lidar_detection" name="novel_lidar_detection" output="screen">
  <param name="out_scan_topic" value="scan"/>
  <param name="in_scan_topic" value="raw_scan"/>
  <param name="threshold" value="0.01"/>
  <param name="size_threshold" value="0.1"/>
  <param name="window_size" value="5"/>
  <param name="covariance_threshold" value="0.09"/>




</node>



 <arg name="custom_param_file" default="$(find novel_bringup)/launch/param/move_base_custom_params.yaml"/>
  <include file="$(find turtlebot_navigation)/launch/includes/move_base.launch.xml">
    <arg name="custom_param_file" value="$(arg custom_param_file)"/>
  </include>
  <node pkg="novel_lidar_detection" type="novel_publish_tf" name="viz">
  <param name="detected_object_topic" value="lidar_objects"/>

  </node>
<param name="continous_publish" value="false"/>

<node name="novel_filter" pkg="expected_scan_generator" type="novel_objects_filter" output="screen">
</node>
<!-- <node pkg="expected_scan_generator" type="novel_objects_filter" name="novel_objects_filter"/>
-->

</launch>

