<launch>
  <include file="$(find action)/launch/view_navigation.launch" />

  <include file="$(find turtlebot_gazebo)/launch/amcl_demo.launch">
    <arg name="map_file" value="/home/shinaushin/RSP_ws/map_by_austin.yaml"/>
  </include>

  <include file="$(find detect_aruco)/launch/kinect_alvar_real.launch" />

  <node name="action_node" pkg="action" type="action" output="screen"/>
</launch>
