<launch>
  <include file="$(find detect_aruco)/launch/kinect_alvar.launch">
  </include>

  <node name="kinect_action" pkg="action" type="kinect_actions" output="screen"/>

  <node name="LIDAR_action" pkg="action" type="LIDAR_actions" output="screen"/>

  <node name="testing" pkg="action" type="testing" output="screen"/>
</launch>
